<nav class="main-navbar">
  <div class="nav-container">
    <a href="/index.html" class="navbar-brand">MoveOn Transporte</a>
    <ul class="navbar-nav">
      <li><a class="nav-link" href="/index.html">Home</a></li>
      <li><a class="nav-link" href="/public/pages/clientes/clientes.html">Clientes</a></li>
      <li><a class="nav-link" href="/public/pages/motoristas/motoristas.html">Motoristas</a></li>
      <li><a class="nav-link" href="/public/pages/veiculos/veiculos.html">Veículos</a></li>
      <li><a class="nav-link" href="/public/pages/entregas/entregas.html">Entregas</a></li>
    </ul>
  </div>
</nav>